<div id="airport-switch" class="dialog notSelectable">
    <p class="dialog-title">选择机场</p>
    <div>
    <input class="search" placeholder="搜索机场">
    </div>
    <div class="dialog-body nice-scrollbar"></div>
</div>
