<div id="sidebar" class="stripView js-stripView mix-stripView_isHidden">
    <div class="stripView-trigger js-stripView-trigger"></div>
    <div class="stripTitle">到达 / 飞越</div>
    <ul class='stripView-list nice-scrollbar js-stripViewArrivals-list'></ul>
    <div class="stripTitle">出发</div>
    <ul class='stripView-list nice-scrollbar js-stripViewDepartures-list'></ul>
</div>
